.divine-light {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(202, 48, 48, 0.5);
  filter: blur(30px);
  opacity: 0;
  animation: divine-light 4s ease-in-out forwards;
  z-index: 1;
}

@keyframes divine-light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.aghori {
  position: relative;
  z-index: 10;
}

body {
  font-family: "Chiller", cursive;
}
