#root {
  max-width: 400px;
  margin: 0 auto;

  text-align: center;
  background-color: #477ff0;
  height: 100vh;
}

.question {
  color: white;
  text-align: left;
}

.options {
  font-size: 25px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  color: #477ff0;
  border-radius: 20px;
  font-weight: 400;
}

.options:hover {
  cursor: pointer;
}
