#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  background-color: #fafafa;
  height: 100vh;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}
::-webkit-scrollbar {
  display: none;
}

.question {
  color: rgb(36, 36, 36);
  text-align: left;
  font-size: 14px;
}

.options {
  font-size: 16px;
  width: 100%;
  background-color: #eeeded;
  padding: 10px;
  color: #000000;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}

.options:hover {
  cursor: pointer;
}
