#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  background-color: #477ff0;
  border-radius: 20px;
}

.question {
  color: white;
  text-align: left;
}

.options {
  font-size: 25px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  color: #477ff0;
  border-radius: 20px;
  font-weight: 400;
}

.options:hover {
  cursor: pointer;
}
