@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.animated {
  transition: transform 200ms ease-out;
}

.roll {
  transform: translateY(-100%);
}

@keyframes roll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
